<div class="bg-dark text-center">
	<p id="recipientId" class="text-light text-capitalize"></p>
</div>
<div id="chats" style="height: 80vh;" class="overflow-auto position-relative">
	
</div>
<div class="position-relative w-100">
	<form autocomplete="off" id="chatBox" class="d-flex">
		<input style="width: 90%;" cols="30" id="message" type="messsage" class="form-control" name="message"></input>
		<button class="btn btn-success" style="width: 10%;">Send</button>
	</form>
</div>